.container{
	width:1000px;
}

.navbar-inverse .navbar-brand:hover{
	font-color:black;
}

.float-label-control input{
	box-shadow: none; 
	border: none; 
	border-radius: 0px; 
	border-bottom: 1px solid #aaa; 
	outline: none; 
}

.float-label-control input:focus{
	box-shadow: none; 
	border: none; 
	border-radius: 0px; 
	border-bottom: 1px solid #aaa; 
	outline: none; 
}
.float-label-control input:focus{
	box-shadow: none; 
}

.comment-form{
	border: 5px solid lightgray;
	padding: 3px;
	width : auto;
	height: auto;
}
.comment-btn{
	width : auto;
	padding: 2px 4px;
	border-radius: 0px;
	float:right;
}
.comment-writebox{
	padding: 3px 5px;
}
.comment-title{
	font-family: "Nanum Pen script";
	font-weight: bold;
	font-size:1.2em;
}

.log-title{
	/*font-family: "Nanum Pen script";*/
	font-weight: bold;
	font-size:1em;
}

.log-author{
	font-size:0.9em;

}
.ask{
	font-family: 'Nanum Myeongjo';
	margin-top: 10px;
	margin-left: 5px;
	display: -webkit-box
}

/**/
#category-btn .notActive{
    color: #3276b1;
    background-color: #fff;
}

#input-form{
	display: none;
}

.input-bottom{
	background-color: #aaa;
	display: flex;
	margin-top: 5px;
}
.input-bottom input{
	width: 200px;
	border: 1px solid #aaa;
}
.input-bottom input:focus{
	width: 200px;
	border: 1px solid #aaa;

}