.center{
	margin: 60px;
	text-align: center;
}

.main-text{
	font-family: 'Nanum Myeongjo';
	margin-bottom: 50px
	
}

.center input{
	border:0;
	border-bottom: 1px solid black;
	text-align: center;
	width: 300px;
}

.center input:focus{
	border:0;
	border-bottom: 1px solid black;
	text-align: center;
	width: 300px;
	outline: none; 
}