/*----start-header----*/
.navbar-container{
	background-color: white;
	border-color: darkgray;
}
.nav{
	font-weight: bold;
}
.navbar-brand{
	font-family: "Nanum Pen script";
	font-weight: bold;
	font-size: 30px;
}
/**/
/*search form*/
/**/
.search-form{
	width: 250px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 13px;
}

.search-input{
	padding: 0px 10px;
	border-radius: 0px;
	width: 200px;
	height: 25px;
}
.search-btn{
	border-radius: 0px;
	height: 25px;
	padding: 2px 10px;
}